html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.title {
    font-family: 'Montserrat', sans-serif;
}

#about h2,
#services h2,
#work h2,
#clients h2,
#blog h2,
#contact h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
}

#services h2,
#blog h2 {
    color: white;
}


/* loading */

#loading {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #333;
    z-index: 999999999999999999999;
}

.spinner {
    margin: 300px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner>div {
    background-color: #fff;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}


/* button up */

#btnUp {
    position: fixed;
    bottom: 20px;
    right: 5px;
    display: none;
    z-index: 99;
}


/* sideBar */

#sideBar {
    position: fixed;
    left: 0;
    top: 50%;
    z-index: 999999999;
}

#colorBox {
    background-color: #ccc;
    float: left;
    padding: 15px;
}

.color-item {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: aqua;
    cursor: pointer;
}

#sideBarToggle {
    background-color: #333;
    color: white;
    padding: 10px;
    float: left;
    cursor: pointer;
}


/* navbar */

#mainNav {
    font-size: 16px;
}


/* home
---------------- */

#home {
    height: 100vh;
    width: 100%;
    background-image: url(../images/nubelson-fernandes-Bv2FCJoh8XM-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.layout {
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#home p,
#icons {
    display: none;
}

.icon-size {
    font-size: 22px;
    cursor: pointer;
    transition: all 0.5s;
}

.icon-size:hover {
    color: teal;
}

nav li:hover {
    color: teal;
}


/* About 
 --------------------*/

#about h2::after {
    content: "ABOUT";
    color: lightgray;
    font-size: 50px;
    position: absolute;
    z-index: -2;
}

#about img {
    height: 400px !important;
}


/* Services 
---------------------------*/

#services {
    background-color: black;
}

#services h2::after {
    content: "SERVICES";
    color: lightgray;
    font-size: 65px;
    position: absolute;
    z-index: -9;
}

#serviceIcon {
    background-color: black;
    position: absolute;
    top: -25px;
    right: 0;
    left: 0;
    width: 60px;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    margin: auto;
    border-radius: 50%;
    border: 1px solid white;
}

#line {
    width: 50px;
    height: 2px;
    background-color: red;
    margin: auto;
    transition: all 0.5s;
}

.serviceItem:hover #line {
    width: 100px;
}


/* work 
---------------------------*/

#work h2::after {
    content: "PORTFOLIO";
    color: lightgray;
    font-size: 50px;
    position: absolute;
    z-index: -15;
}

#work .item .layout {
    background-color: rgba(0, 0, 0, 0.6);
    margin: 1px 5px;
    opacity: 0%;
    transition: all 1s;
}

#work .item:hover .layout {
    opacity: 100%;
}

#work .item i {
    cursor: pointer;
}

#brand,
#design,
#graphic {
    display: none;
}

.nav-item {
    cursor: pointer;
}

.nav-item:hover btn {
    background-color: darkgray;
    color: white;
    border: none;
}

.activeBtn {
    background-color: darkgray;
    color: white;
    border: none;
}


/* Clients 
 ---------------------------------*/

#clients h2::after {
    content: "TESTIMONIALS";
    color: lightgray;
    font-size: 50px;
    position: absolute;
    z-index: -15;
}


/*Blog 
------------------------------------------- */

#blog {
    background-color: black;
}

#blog h2::after {
    content: "OUR BLOG";
    color: lightgray;
    font-size: 50px;
    position: absolute;
    z-index: -15;
}

#blog span {
    cursor: pointer;
}

.item .line {
    height: 2px;
    width: 80px;
    background-color: #343434;
}

.item img {
    transition: transform 1s;
    transition-duration: 1s;
}

.item:hover img {
    transform: scale(1.5);
}


/* Contact
----------------------------- */

#contact h2::after {
    content: "CONTACT US";
    color: lightgray;
    font-size: 50px;
    position: absolute;
    z-index: -15;
}

.iconTransform {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f7f7f7;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 15px;
    transition: all 1s
}

.contactItem:hover .iconTransform {
    background-color: black;
    color: #f7f7f7;
}